.label {
    display: block;
    margin-left: 10px;
    margin-bottom: 20px;
    color: rgb(7, 7, 7);
    font-size: 20px;
}

.input {
    display: block;
    width: 300px;
    padding: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
}

.input:focus,
.input:hover {
    outline-color: rgb(0, 128, 128);
    border-color: rgb(148, 18, 191);
}